* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    padding-left: 20px;
    align-content: center;
    background-color: #333;
    height: 50px;
    color: white;
}

body {
    background-size: cover;
    background: black;
}
.languages {
    display: flex;
    justify-content: center;

}

.languages img{
    margin-top:30px;
    padding: 0 70px;
}

.games{
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
}

.games img {
    width: 160px;
    height: 110px;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8), 0px 0px 30px rgba(173, 216, 230, 0.6);

}

.games button {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    width: 130px;
    border-radius: 25px;
    background: linear-gradient(145deg, #4CAF50 0%, #087f23 100%);
    box-shadow: 0 6px #065f18, 0 -6px #4CAF50 inset;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    font-family: 'Intro', Arial, sans-serif;
}

.games h3 {
    color:white;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 10px;
}


.game {
    flex: 1 1 40%;
    max-width: 210px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}




.games {
    display: flex;
    text-align: center;
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 500px; /* Примерная высота для .games */
    z-index: 2;
}


#animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Чтобы точки не перекрывали основной контент */
}

.dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    animation: fly 5s linear forwards;
}

@keyframes fly {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(calc(100vw * var(--dx)), calc(100vh * var(--dy)));
        opacity: 0;
    }
}